In [2]:
import pandas as pd

In [12]:
data=pd.read_html('list.html')[0]
data.index = data['#']

data

,Unnamed: 0,#,Title,Solution,Acceptance,Difficulty,Frequency
#,,,,,,,
175,NaN,175,Combine Two Tables,NaN,41.8%,Easy,NaN
176,NaN,176,Second Highest Salary,NaN,22.6%,Easy,NaN
177,NaN,177,Nth Highest Salary,NaN,20.3%,Medium,NaN
178,NaN,178,Rank Scores,NaN,28.9%,Medium,NaN
180,NaN,180,Consecutive Numbers,NaN,27.0%,Medium,NaN
181,NaN,181,Employees Earning More Than Their Managers,NaN,38.2%,Easy,NaN
182,NaN,182,Duplicate Emails,NaN,44.6%,Easy,NaN
183,NaN,183,Customers Who Never Order,NaN,36.0%,Easy,NaN
184,NaN,184,Department Highest Salary,NaN,22.3%,Medium,NaN
185,NaN,185,Department Top Three Salaries,NaN,19.3%,Hard,NaN
196,NaN,196,Delete Duplicate Emails,NaN,24.4%,Easy,NaN
197,NaN,197,Rising Temperature,NaN,30.8%,Easy,NaN
262,NaN,262,Trips and Users,NaN,19.2%,Hard,NaN
569,NaN,569,Median Employee Salary,NaN,36.5%,Hard,NaN
570,NaN,570,Managers with at Least 5 Direct Reports,NaN,58.0%,Medium,NaN
571,NaN,571,Find Median Given Frequency of Numbers,NaN,39.4%,Hard,NaN
574,NaN,574,Winning Candidate,NaN,33.3%,Medium,NaN
577,NaN,577,Employee Bonus,NaN,51.6%,Easy,NaN
578,NaN,578,Get Highest Answer Rate Question,NaN,28.2%,Medium,NaN
579,NaN,579,Find Cumulative Salary of an Employee,NaN,27.6%,Hard,NaN
580,NaN,580,Count Student Number in Departments,NaN,38.9%,Medium,NaN
584,NaN,584,Find Customer Referee,NaN,61.9%,Easy,NaN
585,NaN,585,Investments in 2016,NaN,45.6%,Medium,NaN
586,NaN,586,Customer Placing the Largest Number of Orders,NaN,59.8%,Easy,NaN
595,NaN,595,Big Countries,NaN,71.5%,Easy,NaN
596,NaN,596,Classes More Than 5 Students,NaN,29.7%,Easy,NaN
597,NaN,597,Friend Requests I: Overall Acceptance Rate,NaN,38.0%,Easy,NaN
601,NaN,601,Human Traffic of Stadium,NaN,33.9%,Hard,NaN
602,NaN,602,Friend Requests II: Who Has the Most Friends,NaN,41.8%,Medium,NaN
603,NaN,603,Consecutive Available Seats,NaN,54.4%,Easy,NaN
607,NaN,607,Sales Person,NaN,50.7%,Easy,NaN
608,NaN,608,Tree Node,NaN,53.6%,Medium,NaN
610,NaN,610,Triangle Judgement,NaN,58.5%,Easy,NaN
612,NaN,612,Shortest Distance in a Plane,NaN,51.7%,Medium,NaN
613,NaN,613,Shortest Distance in a Line,NaN,70.4%,Easy,NaN
614,NaN,614,Second Degree Follower,NaN,23.2%,Medium,NaN
615,NaN,615,Average Salary: Departments VS Company,NaN,31.6%,Hard,NaN
618,NaN,618,Students Report By Geography,NaN,41.4%,Hard,NaN
619,NaN,619,Biggest Single Number,NaN,35.8%,Easy,NaN
620,NaN,620,Not Boring Movies,NaN,59.4%,Easy,NaN
626,NaN,626,Exchange Seats,NaN,48.1%,Medium,NaN
627,NaN,627,Swap Salary,NaN,67.1%,Easy,NaN

In [ ]:
data = data.iloc[:,2:]
def str2num(s):
    return float(s[:-2])
data['Acceptance'] = data['Acceptance'].apply(str2num)
data = data.sort_values(by='Acceptance',ascending=False)
data['Done_online'] = False
data

In [4]:
from bs4 import BeautifulSoup
with open('list.html') as f:
    soup = BeautifulSoup(f.read(), 'html.parser')

In [7]:
tb = soup.table

In [21]:
# column names
rows = tb.find_all('tr')
rows[0].find_all('th')
colname = [a.text.strip() for a in rows[0].find_all('th')]
colname[0] = 'Done_online'
colname.pop(1)
data = pd.DataFrame(columns=colname)
data

Empty DataFrame
Columns: [Done_online, Title, Solution, Acceptance, Difficulty, Frequency]
Index: []

In [22]:
rows[1].find_all('td')

[<td label="[object Object]" value="ac"><span class="text-success fa fa-check"></span></td>,
 <td label="[object Object]">175</td>,
 <td label="[object Object]" value="Combine Two Tables"><div><a href="/problems/combine-two-tables">Combine Two Tables</a>    </div></td>,
 <td label="[object Object]"><a href="/articles/combine-two-tables"><i class="fa fa-file-text"></i></a></td>,
 <td label="[object Object]" value="41.81421646149235">41.8%</td>,
 <td label="[object Object]" value="[object Object]"><span class="label label-success round">Easy</span></td>,
 <td label="[object Object]"></td>]

In [11]:
for r in rows[1:]:
    if 'value' in r.find_all('td')[0].attrs:
        print(r.find_all('td')[0]['value'])
    else:
        print(None)

[<td label="[object Object]" value="ac"><span class="text-success fa fa-check"></span></td>,
 <td label="[object Object]">175</td>,
 <td label="[object Object]" value="Combine Two Tables"><div><a href="/problems/combine-two-tables">Combine Two Tables</a>    </div></td>,
 <td label="[object Object]"><a href="/articles/combine-two-tables"><i class="fa fa-file-text"></i></a></td>,
 <td label="[object Object]" value="41.81421646149235">41.8%</td>,
 <td label="[object Object]" value="[object Object]"><span class="label label-success round">Easy</span></td>,
 <td label="[object Object]"></td>]